extends ../layout

block content
	.container-fluid.text-center
		.row
			h1 Name
			h2 Location
			h3 Rating
		.row
			h1 Name2
			h2 Location2
			h3 Rating2
		.row
			h1 Map
		.row
			btn-group
					.button.btn.btn-default(type='button') Save
					.button.btn.btn-default(type='button') Share