extends ../layout

block content
	.container-fluid#event-list
		.row
			.col-xs-8
				h3 Name | Rating
				h3 Location
			.col-xs-4
				.pull-right.button.btn.btn-default.btn-icon(type='button')
					i.fa.fa-times
		.row
			.col-xs-8
				h3 Name | Rating
				h3 Location
			.col-xs-4
				.pull-right.button.btn.btn-default.btn-icon(type='button')
					i.fa.fa-times
		.row
			h3 Map Start to Location 1
			iframe(class='map-div', width='100%', height='300', frameborder='0', style='border: 0;', src='https://www.google.com/maps/embed/v1/directions?origin=12128%20SE%2013th%20St%2C%20Bellevue%2C%20WA%2C%20United%20States&destination=1927%20Orrington%20Avenue%2C%20Evanston%2C%20IL%2C%20United%20States&key=AIzaSyC7YNko7N6GkPnFmWIrRl1pNUzIsEwZFbk')
		.row
			h3 Name | Rating
			h4 Location
			h4 More info
		.row
			h3 Map Location 1 to Location 2
			iframe(class='map-div', width='100%', height='300', frameborder='0', style='border: 0;', src='https://www.google.com/maps/embed/v1/directions?origin=12128%20SE%2013th%20St%2C%20Bellevue%2C%20WA%2C%20United%20States&destination=1927%20Orrington%20Avenue%2C%20Evanston%2C%20IL%2C%20United%20States&key=AIzaSyC7YNko7N6GkPnFmWIrRl1pNUzIsEwZFbk')
		.row
			h3 Name | Rating
			h4 Location
			h4 More info
		.row
			h3 Map Location 2 to Home
			iframe(class='map-div', width='100%', height='300', frameborder='0', style='border: 0;', src='https://www.google.com/maps/embed/v1/directions?origin=12128%20SE%2013th%20St%2C%20Bellevue%2C%20WA%2C%20United%20States&destination=1927%20Orrington%20Avenue%2C%20Evanston%2C%20IL%2C%20United%20States&key=AIzaSyC7YNko7N6GkPnFmWIrRl1pNUzIsEwZFbk')
		.row
			//- iframe(width='100%', height='400', frameborder='0', style='border: 0;', src='https://www.google.com/maps/embed/v1/directions?origin=12128%20SE%2013th%20St%2C%20Bellevue%2C%20WA%2C%20United%20States&destination=1927%20Orrington%20Avenue%2C%20Evanston%2C%20IL%2C%20United%20States&key=AIzaSyC7YNko7N6GkPnFmWIrRl1pNUzIsEwZFbk')
		.row
			.button.btn.btn-default.btn-lg.btn-clear(type='button') Save
			.pull-right.button.btn.btn-default.btn-lg.btn-clear(type='button') Share