extends ../layout

block content
	.container-fluid.text-center
		form(method='POST', action='/account/save-pref')#msform
			input(type='hidden', name='_csrf', value=_csrf)
			ul#progressbar
				li.active Start
				li Step 2
				li Step 3
				li Step 4
				li Step 5
				li End
			fieldset
				h2.fs-title Start
				h3.fs-subtitle Let us help you plan your perfect day. Click next to give us your preferences.
				input.next.action-button(type='button', name='next', value='Next')
			fieldset
				h2.fs-title Step 2
				h3.fs-subtitle Do you like...?
				.btn-group(data-toggle='buttons')
					label.btn.btn-default
						input#event-pref(type='radio', name='event-pref', value='New')
						| Trying new things
					label.btn.btn-default
						input#event-pref(type='radio', name='event-pref', value='Classic')
						| The classics
				input.previous.action-button(type='button', name='previous', value='Previous')
				input.next.action-button(type='button', name='next', value='Next')
			fieldset
				h2.fs-title Step 3
				h3.fs-subtitle On a perfect Sunday afternoon, you would spend the day at a...
				.btn-group(data-toggle='buttons')
					label.btn.btn-default
						input#place-pref(type='radio', name='place-pref', value='Museum')
						| Museum
					label.btn.btn-default
						input#place-pref(type='radio', name='place-pref', value='Comedy')
						| Comedy show
					label.btn.btn-default
						input#place-pref(type='radio', name='place-pref', value='Park')
						| Park
					label.btn.btn-default
						input#place-pref(type='radio', name='place-pref', value='Mall')
						| Mall
				br
				input.previous.action-button(type='button', name='previous', value='Previous')
				input.next.action-button(type='button', name='next', value='Next')
			fieldset
				h2.fs-title Step 4
				h3.fs-subtitle How much do you spend on a typical meal dining out?
				.btn-group(data-toggle='buttons')
					label.btn.btn-default
						input#price-pref(type='radio', name='price-pref', value='Ten')
						| $10-$20
					label.btn.btn-default
						input#price-pref(type='radio', name='price-pref', value='Twenty')
						| $20-$30
					label.btn.btn-default
						input#price-pref(type='radio', name='price-pref', value='Thirty')
						| $30+
				br
				input.previous.action-button(type='button', name='previous', value='Previous')
				input.next.action-button(type='button', name='next', value='Next')
			fieldset
				h2.fs-title Step 5
				h3.fs-subtitle Are you 21+?
				.btn-group(data-toggle='buttons')
					label.btn.btn-default
						input#age-pref(type='radio', name='age-pref', value='Yes')
						| Yes
					label.btn.btn-default
						input#age-pref(type='radio', name='age-pref', value='No')
						| No
				br
				input.previous.action-button(type='button', name='previous', value='Previous')
				input.next.action-button(type='button', name='next', value='Next')		
			fieldset
				h2.fs-title End
				h3.fs-subtitle Thanks for your answers! You can change your settings an anytime by choosing my preferences. Select submit and enter a day in Chicago!
				input.previous.action-button(type='button', name='previous', value='Previous')
				input.submit.action-button(type='submit', name='submit', value='Submit')

