extends layout

block content
	.text-center.grad-background
		h1 Explore Chicago
		.input-group
			.row
				h2 Time
				.btn-group
					.button.btn.btn-default(type='button') Morning
					.button.btn.btn-default(type='button') Afternoon
					.button.btn.btn-default(type='button') Night
			.row
				h2 Are you 21?	
				input(type='checkbox')