extends layout

block content
	.text-center.grad-background
		h1 Explore Chicago
		.input-group-center
			.row
				h2 Pick a time!
				.btn-toolbar
					.button.btn.btn-time(type='button')
						.time-icon
							img(src='/img/morning.png', alt='morning', width='100')
					.button.btn.btn-time(type='button')
						.time-icon
							img(src='/img/afternoon.png', alt='afternoon', width='100')
					.button.btn.btn-time(type='button')
						.time-icon
							img(src='/img/night.png', alt='night', width='100')
