extends layout

block content
	.text-center.grad-background
		h1 Explore Chicago
		.input-group
			form
			.row
				h2 Time
				form(method="POST", action='/events',name="timeOfDay", role="form")
					input(type='hidden', name='_csrf', value=_csrf)
					.btn-group
						button.button.btn.btn-default(type='submit', value="morning", name="timeOfDay") Morning
						button.button.btn.btn-default(type='submit', value="afternoon", name="timeOfDay") Afternoon
						button.button.btn.btn-default(type='submit', value="night", name="timeOfDay") Night
